<!DOCTYPE html>
<html>
  <head>
    <title>Ama2on</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      window.imageUrlRoot = "<%= image_url('') %>"
      window.logoURL1 = "<%= image_url('Picture1.png') %>"
      window.logoURL2 = "<%= image_url('Picture4.png') %>"
      window.banner1 = "<%= image_url('Take A Product.png') %>"
      window.banner2 = "<%= image_url('summer.png') %>"
      
    </script>
    <%= favicon_link_tag 'A-logos.jpeg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
